In [13]:
import pandas as pd
import matplotlib.pyplot as pyplot
import numpy as np
# Loading the data from csv file 
uberride = pd.read_csv('/Users/sachinkharche/uberrides_analysis/Data/uber-raw-data-apr14.csv',encoding='utf-8')

In [20]:
uberride.head(4)

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512

In [19]:
uberride.shape

(564516, 4)

In [8]:
uberride.duplicated().sum()

7749

In [21]:
uberride.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object